
.button{
    background-color: red; /* Kolor tła */
   color: white; /* Kolor napisu */
   padding: 10px 20px; /* Odstępy wewnętrzne */
   border: none; /* Brak obramowania */
   border-radius: 5px; /* Promień zaokrąglenia */
   cursor: pointer; /* Zmiana kursora na wskaźnik */
    width: 100%;
 
 }
 .button--data{
     background-color: green; /* Kolor tła */
 
 }
 
 .button--data:hover{
     
        background-color: #ADFF2F; 
 }