.form{
    
    display: grid;
    grid-column: 1fr;
}

.form__span{
    
    margin-bottom: 30px
}



.div{
        display: grid;
        grid-column: auto auto;
    
}
.div__form{
   display: grid; 
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px; /* Dostosuj margines między przyciskami według potrzeb */
}
